@{
    ViewBag.Title = "Inicio";
}

@Styles.Render("~/Content/Index")
<div class="jumbotron">
    <br>
    <center><h1>LA PALESTINA</h1></center>
    @*<p class="lead">Agregar Cursos, agregar materias, asignar roles</p>*@
</div>
<div class="col-xs-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <center>
                <div id="carousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                        <li data-target="#carousel" data-slide-to="2"></li>
                        <li data-target="#carousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/img/img2.jpeg" />
                        </div>
                        <div class="item">
                            <img src="~/Content/img/img3.jpeg" />
                        </div>
                        <div class="item">
                            <img src="~/Content/img/img4.jpeg" />
                        </div>
                        <div class="item">
                            <img src="~/Content/img/img5.jpeg" />
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <br ><br />
    <div class="row">
        <div class="contentIndex">
            <div class="col-xs-4 col-md-4 col-lg-4">
                    @*<img src="~/Content/img/Mision.png" style="width:50%;height:50%">*@
                    <h2>Misión</h2>
                    <p>
                        Asumimos la responsabilidad de dar una formación integral a cada uno de nuestros alumnos en las distintas etapas de su desarrollo, desde el respeto a sus creencias, poniendo el máximo empeño en el cultivo de valores humanos y en la creación de hábitos de estudio, trabajo y convivencia para una excelente formación académica y personal, acorde a las demandas de nuestra sociedad actual.
                    </p>
                </div>

            <div class="col-xs-4 col-md-4 col-lg-4">
                @*<img src="~/Content/img/Vision.png" style="width:50%;height:50%">*@
                <h2>Visión</h2>
                <p>
                    Ser la primera elección de las familias que garantice la formación académica, la madurez emocional y la educación en valores necesarios para el futuro de sus hijos en un mundo tecnológico y global.
                </p>
            </div>

            <div class="col-xs-4 col-md-4 col-lg-4">
                @*<img src="~/Content/img/ubicacion3.png" style="width:50%;height:50%">*@
                <h2>Ubicación</h2>
                <p>
                    Carrera 76 # 79-40 Barrio: La Palestina 
                </p>
            </div>
            </div>
        </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $("#carousel").carousel({
            interval: 3000
        });
    </script>
}



