@model CapaDatos.Courses

@{
    ViewBag.Title = "Delete";
}

<h3>¿Desea eliminar este curso?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-right">
                <button id="btnDeleteCourse" type="submit" class="btn btn-primary"><span>Eliminar</span></button>
                <button type="button" data-dismiss="modal" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
    </div>
}
